---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <h1>HISTORIEN OM ØSTERLANDSK TEHUS</h1>
      <section>
        <div><img src="public/img/billeder/marinesoldat.svg" alt="marinesoldat" width="325" height="399"/></div>
        <div><h3>EN MARINESOLDAT DROG UD OG KOM HJEM SOM THE-KØBMAND</h3><p class="body1">I 1887 deltog en dansk marinesoldat i 50-års jubilæet for Dronning Victorias kroning i England. I London bød det engelske admiralitet på en kop the, som gjorde et uforglemmeligt indtryk på den unge Søren Vilhelm Jacobsen. Han tog en dåse af den vidunderlige the med sig hjem til Danmark og grundlagde Østerlandsk Thehus, da han 20. april 1889 åbnede forretning i det indre København.</p></div>
      </section>
      <div></div>
      <section>
        <div><h3>MERE END 130 ÅRS FORRETNING MIDT I KØBENHAVN</h3><p class="body1">Butikken på Nørreport pryder stadig ét af byens travleste gadehjørner, og Admiralitets The er fortsat en af vores mest populære klassiske, sorte theer – elsket af thedrikkere fra alle hjørner af Danmark. Den har fået selskab af mere end 200 andre theblandinger og mange typer specialitetskaffe. Selvom enkelte detaljer er opdateret for at imødekomme moderne tider, har butikken beholdt sin originale atmosfære og indretning og ser stort set ud som den gør på det billede fra 1900, som man kan se på Københavns Bymuseum.</p></div>
        <div><img src="public/img/billeder/gammelt_the_hus.svg" alt="marinesoldat" width="325" height="399"/></div>
      </section>
      <div></div>
      <section>
        <div><img src="" alt="" /></div>
        <div><h3></h3><p></p></div>
      </section>
      <div></div>
      <section>
        <div><h3></h3><p></p></div>
        <div><img src="" alt="" /></div>
      </section>
    </main>
    <footer></footer>
  </body>
  <style>
    /* desktop */
    @media (min-width: 600px) {
    }
  </style>
</html>
