---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
  </head>

  <body>
    <header></header>
    <main>
      <section>
        <div><h1></h1><h2></h2><h4></h4><h4></h4><button></button></div>
        <div><img src="" alt="" /></div>
      </section>
      <section>
        <div>
          <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
        </div>
        <h2></h2>
        <div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
        </div>
      </section>
      <section>
        <div><img src="" alt="" /></div>
        <div><h2></h2><h3></h3><p></p><button></button></div>
      </section>
      <section><div><img src="" alt="" /></div></section>
      <section>
        <div><h2></h2><p></p><button></button></div>
        <div><img src="" alt="" /></div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
