---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <section class="section_1">
        <div>
          <h1>Velkommen til jul hos Østerlandsk Tehus</h1><h2>
            Leder du efter en unik og festlig måde at fejre juletiden på i år?
          </h2><h4>
            Så er vores julete det perfekte valg! Denne lækre blanding er lavet
            på sort Keemun te kombineret med alle de klassiske julekrydderier,
            perfekt til at nyde ved pejsen eller dele med venner og familie.
          </h4><h4>Køb den i dag og spar 20%</h4><button></button>
        </div>
        <div class="splash">
          <img src="public/img/billeder/forside_billede.svg" alt="" />
        </div>
      </section>
      <section>
        <div class="div_1">
          <div class="div_2">
            <img
              src="public/img/ikoner_logo/stjerner.svg"
              alt="stjerner"
              width="122"
              height="40"
            />
          </div>
          <h2>Topsellers</h2>
        </div>

        <!-- Slideshow container -->
        <div class="slideshow-container">
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img
              class="imgslideshow"
              src="public/img/billeder/top_dragon.svg"
              style="width:50%"
            />
            <div class="text"><h3>58 ,-</h3><h5>pr. 100 g</h5></div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img
              class="imgslideshow"
              src="public/img/billeder/top_english.svg"
              style="width:50%"
            />
            <div class="text"><h3>52 ,-</h3><h5>pr. 100 g</h5></div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img
              class="imgslideshow"
              src="public/img/billeder/top_chai.svg"
              style="width:50%"
            />
            <div class="text"><h3>54 ,-</h3><h5>pr. 100 g</h5></div>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />

        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <!-- <div>
          <div>
            <h3>Dragon Mint</h3>
            <img src="public/img/billeder/top_dragon.svg" alt="dragonmint" width="200" height="320"/><div><h3>58 ,-</h3><h5>pr. 100 g</h5></div><button></button>
          </div>
          <div>
            <h3>English Breakfast Organic</h3>
            <img src="public/img/billeder/top_english.svg" alt="english"  width="200" height="320"/><div><h3>52 ,-</h3><h5>pr. 100 g</h5></div><button></button>
          </div>
          <div>
            <h3>Green Apple Chai</h3>
            <img src="public/img/billeder/top_chai.svg"  alt="chai"  width="200" height="320"/><div><h3>54 ,- </h3><h5>pr. 100 g</h5></div><button></button>
          </div>
        </div> -->
      </section>
      <section class="section2">
        <div>
          <h2>KEND DIN TE-TYPE</h2><h3>
            Hvilken te passer til din personlig smag?
          </h3><p>
            I dag kan enhver te-elsker få tilfredsstillet trangen til en god
            te-oplevelse. I te-saloner og på cafeer serveres fine kvalitets
            teer, og hos te-handlerne finder man hundredevis af udsøgte teer,
            som hver især inviterer til unikke te-oplevelser. Hvorvidt man er
            til sort te, grøn te, oolong te eller den milde hvide te afhænger af
            personlig smag og temperament. Overordnet set har de hver især nogle
            helt særlige karakteristika.
          </p><button></button>
        </div>
        <div>
          <img src="public/img/billeder/kenddinte.svg" alt="mandibutik" />
        </div>
      </section>

      <section id="stortbillede">
        <div>
          <img src="public/img/billeder/stort_billede.svg" alt="stortbillede" />
        </div>
      </section>
      <section class="section3">
        <div>
          <h2>Kvalitets produkter siden 1889 - En historie om traditioner</h2><p
          >
            I 1887 deltog en dansk marinesoldat i 50-års jubilæet for Dronning
            Victorias kroning i England. I London bød det engelske admiralitet
            på en kop the, som gjorde et uforglemmeligt indtryk på den unge
            Søren Vilhelm Jacobsen. Han tog en dåse af den vidunderlige the med
            sig hjem til Danmark og grundlagde Østerlandsk Thehus, da han 20.
            april 1889 åbnede forretning i det indre København.
          </p><button></button>
        </div>
        <div>
          <img src="public/img/billeder/vores_historie.svg" alt="kvalitetste" />
        </div>
      </section>
    </main>
    <Footer />
  </body>
  <style>
    .section_1 {
      background-image: url(public/img/monstre/herounitmonster.svg);
      background-size: cover;
    }

    .splash {
      display: none;
    }
    .div_1 {
      padding-top: 20px;
      display: grid;
      justify-content: center;
      text-align: center;
    }
    .div_2 {
      justify-content: center;
    }
    * {
      box-sizing: border-box;
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 800px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
      padding: 8px 12px;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #413c1c;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #b7b7b7;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1s;
    }

    @keyframes fade {
      from {
        opacity: 0.9;
      }
      to {
        opacity: 1;
      }
    }

    .section2 img {
      max-width: 350px;
      text-align: center;
    }
    .section3 img {
      max-width: 350px;
      text-align: center;
    }
    #stortbillede img {
      max-width: 450px;
    }
    #stortbillede {
      padding: 0px;
    }

    /* desktop */
    @media (min-width: 600px) {
      .section_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/4;
      }

      .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 100%;
      }
      .section3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 100%;
      }
      .section3:nth-child(1) {
        min-width: 100%;
      }

      .section2 img {
        max-width: 100%;
        text-align: center;
      }
      .section3 img {
        max-width: 100%;
        text-align: center;
      }

      .splash {
        display: block;
      }
      .splash img {
        max-width: 100%;
      }
      #stortbillede {
        grid-column: 1/4;
      }
      #stortbillede img {
        max-width: 100%;
      }
    }
  </style>
  <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 4000); // Change image every 2 seconds
    }
  </script>
</html>
