---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />
    <main>
      <section>
        <div>
          <h1>Velkommen til jul hos Østerlandsk Tehus</h1><h2>Leder du efter en unik og festlig måde at fejre juletiden på i år?</h2><h4>Så er vores julete det perfekte valg! Denne lækre blanding er lavet på sort Keemun te kombineret med alle de klassiske julekrydderier, perfekt til at nyde ved pejsen eller dele med venner og familie.</h4><h4>Køb den i dag og spar 20%</h4><button></button>
        </div>
        <div><img src="public/img/monstre/herounitmonster.svg" alt="monster1" width="429" height="549" /></div>
      </section>
      <section>
        <div>
          <img src="public/img/ikoner_logo/stjerner.svg" alt="stjerner" />
        </div>
        <h2>Topsellers</h2>
        <div>
          <div>
            <h3>Dragon Mint</h3>
            <img src="public/img/billeder/forside/Topseller1.png" alt="dragonmint" /><div><h3>58 ,-</h3><h5>pr. 100 g</h5></div><button></button>
          </div>
          <div>
            <h3>English Breakfast Organic</h3>
            <img src="" alt="english" /><div><h3>52 ,-</h3><h5>pr. 100 g</h5></div><button></button>
          </div>
          <div>
            <h3>Green Apple Chai</h3>
            <img src="" alt="green" /><div><h3>54 ,- </h3><h5>pr. 100 g</h5></div><button></button>
          </div>
        </div>
      </section>
      <section>
        <div><img src="kenddintetype.webp" alt="mandbutik" /></div>
        <div><h2>KEND DIN TE-TYPE</h2><h3>Hvilken te passer til din personlig smag?</h3><p>I dag kan enhver te-elsker få tilfredsstillet trangen til en god te-oplevelse. I te-saloner og på cafeer serveres fine kvalitets teer, og hos te-handlerne finder man hundredevis af udsøgte teer, som hver især inviterer til unikke te-oplevelser. Hvorvidt man er til sort te, grøn te, oolong te eller den milde hvide te afhænger af personlig smag og temperament. Overordnet set har de hver især nogle helt særlige karakteristika.</p><button></button></div>
      </section>
      <section><div><img src="Stortbillede.webp" alt="stortbillede"/></div></section>
      <section>
        <div><h2>Kvalitets produkter siden 1889 - En historie om traditioner</h2><p>I 1887 deltog en dansk marinesoldat i 50-års jubilæet for Dronning Victorias kroning i England. I London bød det engelske admiralitet på en kop the, som gjorde et uforglemmeligt indtryk på den unge Søren Vilhelm Jacobsen. Han tog en dåse af den vidunderlige the med sig hjem til Danmark og grundlagde Østerlandsk Thehus, da han 20. april 1889 åbnede forretning i det indre København.</p><button></button></div>
        <div><img src="kvalitetste.webp" alt="kvalitetste" /></div>
      </section>
    </main>
    <Footer />
  </body>
  <style>

  </style>
</html>
