---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />
    <main>
      <section>
        <div>
          <h1>Velkommen til jul hos Østerlandsk Tehus</h1><h4>Leder du efter en unik og festlig måde at fejre juletiden på i år?</h4><h4>hej</h4><h4></h4><button></button>
        </div>
        <div><img src="" alt="" /></div>
      </section>
      <section>
        <div>
          <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
        </div>
        <h2></h2>
        <div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
          <div>
            <h3></h3>
            <img src="" alt="" /><div><h3></h3><h5></h5></div><button></button>
          </div>
        </div>
      </section>
      <section>
        <div><img src="" alt="" /></div>
        <div><h2></h2><h3></h3><p></p><button></button></div>
      </section>
      <section><div><img src="" alt="" /></div></section>
      <section>
        <div><h2></h2><p></p><button></button></div>
        <div><img src="" alt="" /></div>
      </section>
    </main>
    <Footer />
  </body>
  <style></style>
</html>
