---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <header></header>

    <main>
      <h1></h1>
      <section>
        <div>
          <div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <p></p>
            <p></p>
          </div>
        </div>
        <div><img src="" alt="" /></div>
      </section>
      <section>
        <div>
          <div>
            <h3></h3><p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <h3></h3><p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
        <div>
          Input
          <button></button>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
  <style>
    /* desktop */
    @media (min-width: 600px) {
    }
  </style>
</html>
