---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <header></header>

    <main>
      <a href=""></a>
      <h1></h1>
      <section>
        <div>
          <div><img src="" alt="" /><p></p></div>
          <div><img src="" alt="" /><p></p></div>
        </div>
        <div>
          <!-- vises kun i desk -->
          <h4></h4>
          <h4></h4>
          <h4></h4>
          <h4></h4>
          <h4></h4>
        </div>
        <div>
          <div><img src="" alt="" /></div>
          <div>
            <div>
              <p></p><p></p>
              <p></p><div>
                <img src="" alt="" /><p></p><img src="" alt="" />
              </div>
              <p></p>
            </div>
          </div>
        </div>
        <div>
          <div><div><h4></h4><h5></h5></div><div><h4></h4><h5></h5></div></div>
          <div><div><p></p><h4></h4></div><p></p></div>
        </div>
        <div><div><a href=""></a></div><div><a href=""></a></div></div>
      </section>
    </main>
    <footer></footer>
  </body>
  <style></style>
</html>
