---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <h1>BLIV KLOGERE PÅ TEVARIANTER</h1>
      <section>
        <div>
          <div><h2>Sort te</h2><p class="body1">Forskellen mellem grøn, hvid, gul, oolong og sort the, findes i behandlingen af thebladene efter plukning. Al reel the kommer nemlig fra theplanten, Camellia Sinensis. Typisk er det mængden af oxidering, en proces hvor thebladene reagerer med ilt, der er et vigtigt element i at bestemme typen af the. Sort the er kendetegnet ved at være oxideret helt, nærmere bestemt mellem 90 og 99,99 %. Denne oxidation er med til at udvikle smagen i sort the. Thebladene i sort the får en mørkebrun farve, når de er færdigoxiderede. Dette har givet theen navnet ”sort the” i vesten. I Kina kaldes theen kaldt for 'rød the', efter den rødlige og kobberagtige farve, som den bryggede the antager. Modsat manges overbevisning, er sort the ikke fermenteret.</p></div>
          <div><img src="public/img/billeder/sortte.svg" alt="sortte"></div>
        </div>
      </section>
      <section>
        <div>
          <div><h2>Grøn te</h2><p class="body1">Grøn the laves ved hjælp af teplanten, Camellia Sinensis, ligesom hvid, gul, oolong og sort the. Trods oprindelsen fra samme plante, er der stor forskel på smag og egenskaber hos de forskellige typer af the. Denne forskel opstår ved forskellig behandling af de grønne theblade efter plukning, blandt andet ud fra mængden af oxidering (tebladendes reaktion på ilt). Grøn the er kendetegnet ved, at oxideringen er stoppet og/eller forhindret. Det siges ofte, at grøn the er mildere i smagen end sort, men dette er ikke nødvendigvis altid tilfældet. Grøn the kan være mild og let i smagen, men den kan også være kraftig og fyldig - alt efter hvordan den behandles. En ting, de grønne theer har tilfælles, er det høje indhold af antioxidanter og det lave indhold af tanniner. Fordi grøn the indeholder relativt lidt tannin, vil man ofte slippe for den følelse af tørhed i munden, som eksempelvis sort the kan give.</p></div>
          <div><img src="public/img/billeder/gronte.svg" alt="sortte"></div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
  <style>
    /* desktop */
    @media (min-width: 600px) {
    }
  </style>
</html>
