---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
  </head>

  <body>
    <header></header>

    <main>
      <section>
        <h1></h1><div>
          <div></div>
          <div></div>
        </div>
      </section>
      <section><div></div><div></div></section>
      <section><div></div><div></div></section>
      <section><div></div><div></div></section>
      <section><div></div><div></div></section>
      <section><div></div><div></div></section>
      <section><div></div><div></div></section>
    </main>
    <footer></footer>
  </body>
</html>
