---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <a href=""></a>
      <section>
        <h1></h1>
        <!--  skal vises i mobil -->
        <div>
          <div><img src="" alt="" /></div>
          <div><img src="" alt="" /><img src="" alt="" /></div>
        </div>
        <div>
          <h1></h1>
          <!--  skal vises i desktop -->
          <h3></h3>
          <div>
            <div><h4></h4></div>
            <div>
              <input type="text" />
              lidt usikker her
            </div>
          </div>
          <div>
            <h4></h4><img src="" alt="" /><h3></h3><img src="" alt="" />
          </div>
          <button></button>
          <h4></h4>
          <div>
            <div><img src="" alt="" /><p></p></div><div>
              <img src="" alt="" /><p></p>
            </div><div><img src="" alt="" /><p></p></div>
          </div>
        </div>
      </section>
      <section>
        <h4></h4>
        <div>Forms eller knap</div>
      </section>
      <section>
        <h3></h3><div>
          <div>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
          </div>
        </div>
      </section>
      <!-- popup indsættes her -->
    </main>

    <Footer />
  </body>
  <style>
    /* desktop */
    @media (min-width: 600px) {
    }
  </style>
</html>
