---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Oversigt from "../components/Oversigt.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />
    <main>
      <div class="brodkrumme">
        <a href="index.html">Hjem</a><img
          src="/img/ikoner_logo/pil_hojre.svg"
          alt=""
        />
        <a href="">Te</a><img src="/img/ikoner_logo/pil_hojre.svg" alt="" /><a
          href="">Frugt- og Urte Te</a
        ><img src="/img/ikoner_logo/pil_hojre.svg" alt="" />
        <p>Lakrids Te</p>
      </div>
      <Oversigt levering="Beregner..." pris="56,00 DKK" />
      <h1></h1>
      <a href=""></a>
      <section><div><h4></h4></div><div></div></section>
    </main>
    <Footer />
  </body>
  <style>
    .brodkrumme {
      display: flex;
      align-items: center;
    }
    .brodkrumme img {
      height: 16px;
    }

    .brodkrumme a {
      font-family: "EB Garamond", serif;
      font-size: var(--font-size-web-body1-label);
      color: var(--color-oliven);
      line-height: var(--line-height-web-body1);
      font-weight: var(--font-weight-body-bold);
      /* text-decoration: none; */
    }
    /* desktop */
    @media (min-width: 600px) {
    }
  </style>
</html>
