---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
  </head>

  <body>
    <header></header>
    <main>
      <a href=""></a>
      <section>
        <div></div><h1></h1><p></p><h3></h3><div>
          <div><img src="" alt="" /><h5></h5></div>
        </div>
      </section>
      <section>
        <div>
          <!-- filtrering -->
        </div>
        <div>
          <div>
            <div>
              <!-- produktsøgning -->
            </div>
            <div>
              <!-- sorter efter -->
            </div>
          </div>
          <div>
            <!-- cards indsættes her -->
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
          </div>
          <div>
            <!-- liste her -->
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
