---
import "../styles/global.css";
const { href, title, oko, pris, src, vaegt } = Astro.props;
---

<article class={oko == true && "øko"}>
  <a href="lakrids.html">
    <div id="produktbillede">
      <img class="omrode billede1" src={src} alt="" />
      <h5 class="omrode">{title}</h5>

      {
        oko == true && (
          <img class="omrode billede2" src="/img/ikoner_logo/oko.svg" alt="" />
        )
      }
    </div>
    <div class="textfelt">
      <h4>{pris}</h4><p class="label">{vaegt}</p><button
        >Se produkt<img src="/img/ikoner_logo/pil_creme.svg" alt="" />
      </button>
    </div>
  </a>
</article>

<style>
  article {
    height: 280px;
    width: 230px;
    background-color: var(--color-mork-gron-110);
    border-radius: 20px;
  }
  #produktbillede {
    display: grid;
    width: 230px;
  }

  .billede1 {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .billede2 {
    padding-top: 180px;
  }

  .omrode {
    grid-area: 1/1;
  }
  h5 {
    z-index: 1;
    text-align: center;
    text-decoration: none;
  }
  h4 {
    color: var(--color-creme);
  }
  p {
    color: var(--color-creme);
  }
  .textfelt {
    display: flex;
    gap: 2px;
  }
  button {
    background: none;
    border: none;
     font-family: "EB Garamond", serif;
  font-size: var(--font-size-mob-body1-label);
  color: var(--color-oliven);
  line-height: var(--line-height-mob-body2-label-button);
  letter-spacing: var(--letter-spacing-label-button);
  font-weight: var(--font-weight-label);s
  }
</style>
