---
import "../styles/global.css";
const { href, title, oko, pris, src, vaegt } = Astro.props;
---

<article class={oko == true && "øko"}>
  <a href="lakrids.html">
    <div id="produktbillede">
      <img class="omrode billede1" src={src} alt="" />
      <h5 class="omrode">{title}</h5>

      {
        oko == true && (
          <img class="omrode billede2" src="/img/ikoner_logo/oko.svg" alt="" />
        )
      }
    </div>
    <div class="textfelt">
      <h5>{pris}</h5><p class="label">{vaegt}</p><img
        src="/img/ikoner_logo/pil_creme.svg"
        alt=""
      />
    </div>
  </a>
</article>

<style>
  article {
    height: 400px;
    width: 360px;
    background-color: var(--color-mork-gron-110);
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
  }
  a:link {
    background-color: transparent;
    text-decoration: none;
  }
  #produktbillede {
    display: grid;
    width: 360px;
  }

  .billede1 {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .billede2 {
    padding-top: 300px;
  }

  .omrode {
    grid-area: 1/1;
  }
  #produktbillede h5 {
    z-index: 1;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
  }
  .textfelt h5 {
    color: var(--color-creme);
  }
  .textfelt p {
    color: var(--color-creme);
    margin-left: 10px;
  }
  .textfelt {
    display: flex;
    gap: 4px;
    text-decoration: none;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  .textfelt img {
    margin-left: 190px;
  }
  article:hover {
    background-color: var(--color-rodbrun);
  }

  @media (min-width: 800px) {
    article {
      height: 280px;
      width: 230px;
    }

    #produktbillede {
      display: grid;
      width: 230px;
    }
    .textfelt img {
      margin-left: 60px;
    }
    .billede2 {
      padding-top: 180px;
    }
  }
</style>
