---
import "../styles/global.css";
---

<h3>Vælg tesort</h3>
<div class="filter">
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Rooibos & Honeybush</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
  <div class="tesort">
    <div class="checkbox"></div><h5>Sort Te</h5><p>(20)</p>
  </div>
</div>

<style>
  .filter {
    width: 320px;
    height: 579px;
    background: var(--color-creme-70);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .tesort {
    display: flex;
  }
  .checkbox {
    border: 1px solid var(--color-oliven);
    border-radius: 6px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  h5 {
    margin-right: 20px;
    color: var(--color-oliven-90);
  }
  p {
    color: var(--color-oliven-80);
  }
</style>
