---
import "../styles/global.css";
---

<footer>
  <div class="footer_grid">
    <div>
      <h4>Butikker</h4>
      <p class="body1">Nærre Voldgade 9 (Nørreport):</p>
      <p class="body1">Magasin, Kgs. Nytorv:</p>
      <p class="body1">Falkonér Allé 11 (Frederiksberg):</p>
      <p class="body1">Fru Hurup, Likørstræde 5, Lyngby:</p>
    </div>
    <div>
      <h4>Åbningstider</h4>
      <p class="body1">Man-Tor 10-18, Fre 10-19, Lør 10-18, Søn 11-17</p>
      <p class="body1">Alle dage 10-20</p>
      <p class="body1">Man-Tor 10-18, Fre 10-19, Lør 10-17, Søn 11-16</p>
      <p class="body1">Man-Fre 10-18, Lør 10-17, Søn Lukket</p>
    </div>
    <div>
      <h4>Information</h4>
      <p class="body1">Betingelser og vilkår</p>
      <p class="body1">Persondatapolitik</p>
      <p class="body1">Cookiepolitik</p>
      <p class="body1">Sprog<img alt="" /></p>
    </div>
    <div>
      <h4>Kundeservice</h4>
      <p class="body1">Ledige stillinger</p>
      <p class="body1">Gavekurv</p>
      <p class="body1">Firmaordninger</p>
      <p class="body1">Kontakt</p>
    </div>
  </div>

  <div>
    <div class="footer.linje">
     <img src="" alt="testimonials" width="141" height="34">
    </div>
    <div>
    <img src="" alt="betalingskort" width="28" height="34">
    </div>
    <div class="some.ikoner">
     <img src="" alt="facebook" width="30" height="30">
      <img src="" alt="instagram" width="30" height="30">
       <img src="" alt="linkin" width="30" height="30">
    </div>
  </div>
</footer>

<style>
  .footer.linje {
    border-bottom: 2px solid var(--color-creme);
  }

  .some.ikoner
  {
display: flex;
  }

  .footer_grid{
    
  }
</style>

