---
import "../styles/global.css";
---

<header class="">
  <div id="stickyhead" class=""></div>
  <!-- <div class="fixed top-0 md:visible">
        <img class="h-20" src="/img/logo_beige1.svg" alt="" />
      </div> -->
  <div class="logo">
    <a href="index.html">
      <img class="" src="/img/ikoner_logo/Logo_gron.svg" alt="" />
    </a>
  </div>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn"
      ><img src="/img/ikoner_logo/X.svg" alt="" />
    </a>
    <a href="/te.astro">Shop Te</a>
    <a href="/te.astro">Shop Kaffe</a>
    <a href="/te.astro">Shop andre produkter</a>
    <a href="/kontakt.astro">Kontakt</a>
    <a href="/historie.astro">Vores historie</a>
    <a href="/laesOm_te.astro">Læs om te</a>
    <a href="/laesOm_te.astro">Læs om kaffe</a>

    <div>
      <div><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /></div>
    </div>

    <!-- <div class="subnav">
      <button class="subnavbtn">Om os</button>
      <div class="subnav-content">
        <a href="om_vaermed.html">Vær med</a>
        <a href="om_kontakt.html">Kontakt</a>
        <a href="om_vildskud.html">Om Vildskud</a>
      </div>
    </div> -->
  </div>
  <div id="open">
    <button class="openbtn visible md:invisible">
      <img src="/img/ikoner_logo/menu.svg" alt="" />
    </button>
  </div>
  <nav
    id="nav_desktop"
    class="invisible fixed top-3 right-0 mr-10 flex gap-16 md:visible md:p-7"
  >
    <ul class="flex gap-16">
      <li><a class="text-lilla" href="program.html">hej</a></li>
      <li>
        <a class="text-lilla" href="events.html">Events</a>
      </li>
      <li>
        <a class="text-lilla" href="find_os.html">Lokationer</a>
      </li>
    </ul>
    <div class="logo_desk">
      <a href="index.html">
        <img class="" src="/img/ikoner_logo/Logo_gron.svg" alt="" />
      </a>
    </div>
    <div class="dropdown mr-3 flex flex-wrap">
      <button class="subnavbtn peer text-lilla">Om os</button>
      <img src="/img/chevron-down.svg" alt="" />
      <div
        class="subnav-content2 absolute mt-6 hidden gap-2 pt-2 hover:grid peer-hover:grid"
      >
        <a href="om_vaermed.html">Vær med</a>
        <a href="om_kontakt.html">Kontakt</a>
        <a href="om_vildskud.html">Om Vildskud</a>
      </div>
    </div>
  </nav>
</header>

<style>
  /* Nav */

  header {
    position: sticky;
    top: 0;
    background-color: var(--color-creme);
  }
  #nav_desktop {
    display: none;
  }

  #stickyhead {
    background-color: var(--color-creme);
    position: sticky;
    top: 0;
    height: 178px;
    display: block;
  }

  .logo {
    position: fixed;
    top: 4px;
  }

  ul {
    display: flex;
    gap: 16px;
  }
  .sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--color-creme); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    display: block;
  }

  /* The sidepanel links */
  .sidepanel a,
  .subnavbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6432c9;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #ff6434;
  }

  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style the button that is used to open the sidepanel */
  .openbtn {
    position: fixed; /* Stay in place */
    /* Stay on top */
    top: 20px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color-creme);
    padding: 10px 15px;
    border: none;
    place-self: end end;
    display: block;
  }

  .openbtn img {
    height: 35px;
  }
  .closebtn img {
    z-index: 2;
    height: 35px;
  }

  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }

  /* Subnav button */

  /* Add a red background color to navigation links on hover */
  a:hover,
  .subnav:hover .subnavbtn {
    color: #ff6434;
  }

  /* Style the subnav content - positioned absolute */
  .subnav-content {
    position: absolute;
    left: 0;
    background-color: none;
    width: 100%;
    z-index: 1;
  }

  /* Style the subnav links */
  .subnav-content a {
    margin-left: 20px;
    color: #6432c9;
    text-decoration: none;
    font-size: 20px;
  }

  /* Add a grey background color on hover */
  .subnav-content a:hover {
    color: #ff6434;
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  .logo img {
    height: 97px;
  }

  a {
    font-family: "EB Garamond", serif;
    font-size: var(--font-size-mob-h3);
    color: var(--color-oliven);
    line-height: var(--line-height-mob-h3);
  }

  @media (min-width: 600px) {
    .sidepanel {
      display: none;
    }
    .openbtn {
      display: none;
    }
    #nav_desktop {
      display: block;
      padding: 7px;
      display: none;
      display: flex;
      position: fixed;
      top: 3px;
      gap: 16px;
      background-color: var(--color-creme);
    }
    .dropdown {
      display: flex;
      flex-wrap: wrap;
    }
    #stickyhead {
      display: none;
    }

    .logo {
      display: none;
    }

    a {
      font-family: "EB Garamond", serif;
      font-size: var(--font-size-web-h5);
      color: var(--color-oliven);
      line-height: var(--line-height-web-h4-h5);
    }
  }
</style>

<script>
  const openNav = document.querySelector(".openbtn");
  const closeNav = document.querySelector(".closebtn");
  const myNav = document.getElementById("stickyhead");

  openNav.addEventListener("click", open);
  closeNav.addEventListener("click", close);
  function open() {
    document.getElementById("mySidepanel").style.width = "100%";
  }

  /* Set the width of the sidebar to 0 (hide it) */
  function close() {
    document.getElementById("mySidepanel").style.width = "0";
  }

  // window.onscroll = function () {
  //   scrollFunction();
  // };

  // function scrollFunction() {
  //   if (
  //     document.body.scrollTop > 60 ||
  //     document.documentElement.scrollTop > 60
  //   ) {
  //     myNav.style.display = "block";
  //   } else {
  //     myNav.style.display = "none";
  //   }
  // }
</script>
